:root {
  --color-primary-light: hsl(180, 90%, 60%);
  --color-secondary: hsl(7, 89%, 70%);
  --color-secondary-dark: hsl(220, 70%, 80%);
  --color-gray-100: hsl(210deg, 15%, 20%);
}

html {
  --font-sans-serif: -apple-system, Verdana, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", Arial,
    Helvetica, Tahoma, sans-serif;
  --font-serif: Georgia, "Times New Roman", Times, serif;
  --font-monospace: "Roboto Mono", "Courier New", Courier, monospace;
}

body {
  display: grid;
  place-content: center;
}

.stopwatch-wrapper {
  display: flex;
  width: 100vw;
  max-width: 750px;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 32px 24px;
  background-color: var(--color-gray-100);
  font-size: 2rem;
  border-radius: 1rem;
  font-family: var(--font-monospace);
}

.stopwatch {
  color: white;
  font-size: 4rem;
  line-height: none;
  margin-top: -2px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
}

.button {
  width: 200px;
  border-radius: 16px;
  border: transparent;
  font-size: 2.5rem;
}

.start {
  background-color: var(--color-primary-light);
}

.stop {
  background-color: var(--color-secondary-dark);
}

.reset {
  background-color: var(--color-secondary);
}

.header_title {
  color: white;
  line-height: 1;
}
